---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<img src="/public/logo.svg" alt="">
		<Header/>
	</main>
</Layout>

