---
import Layouts from '../layouts/Layout.astro';

---

<Layouts title="Perfil">
    <section>
        <div class="container mx-auto flex columns-2 text-center justify-center mt-14 py-8 ">
            <div class="flex-col mx-auto">
                <h1>hello</h1>
            </div>
            <div class="flex-col mx-auto">
                <h1>Bienvenidos</h1>
        </div>
    </section>