---
const currentUrl = Astro.url.pathname;
const shouldShowFilters = currentUrl.includes("/results");
const searchFormClass = shouldShowFilters ? "search-form no-rounded-borders" : "search-form rounded-borders";
---

<!-- Formulario de búsqueda -->
<section class="container bg-red-600 text-center">
    <h1>Hello desde la pagina Terminos</h1>
<style> 