---
interface Props {
	texto: string;
    link: string;
}

const { texto, link } = Astro.props;
---
<button class="cursor-pointer text-white mx-auto h-10  py-2 bg-red-600 px-16 shadow-inner rounded-full font-bold">
    <a href={link}>{texto}</a>
</button>