<footer class="w-full">
    <nav class="flex invisible  md:visible my-3">
        <ul class="bg-secondary-100 [&>li]:mx-4 flex justify-end text-center mx-auto ">
            <li class="item-menu group">
                <div class="Conoce-default">
                    <a class="text-red-500" href="#">Sobre nosotros</a>
                </div>
            </li>
            <li class="item-menu group">
                <div class="Terminos-default">
                    <a class="text-red-500" href="#">Terminos y condiciones</a>
                </div>
            </li>
            <li class="item-menu group">
                <div class="button Politica-default"> 
                    <a class="text-red-500" href="#">Politica de privacidad</a>
                </div>
            </li>
            <li class="item-menu group">
                <div class="button Manual-default">
                    <a class="text-red-500" href="#Primer link">Manual de usuario</a>
                </div>
            </li>
        </ul>
    </nav>
    <div class=" bg-red-500 py-1 mx-auto">
        <p class="mx-auto text-sm text-white text-center">
            Copyright 2024 
        </p>
    </div>
</footer>

