---
console.log ("javascript")
import results from "../pages/results.astro";
---

<header class="header whapper py-1 lg:flex lg:justify-between lg:items-center">
    <div class="flex items-center justify-between ">
        <a class="logo inline-flex items-center pl-4 float-left" href="/">
            <img src="/logo.jpg" loading="eager" alt="Logo_redwork" width="150" height="33" decoding="async">
        </a>
        <button class="abrir-menu" id="abrir">|||</button>
    </div>
    <nav class="nav" id="nav">
        <button class="cerrar-menu text-black ms-3" id="cerrar"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
          </svg>
        </button>
        <ul class="menu bg-secondary-100 [&>li]:mx-4 lg:flex justify-center text-center ">
            <li class="item-menu group">
                <div class="Conoce-default">
                    <a class="text-red-500" href="#">Sobre nosotros</a>
                </div>
            </li>
            <li class="item-menu group">
                <div class="Terminos-default">
                    <a class="text-red-500" href="#">Terminos y condiciones</a>
                </div>
            </li>
            <li class="item-menu group">
                <div class="button Politica-default"> 
                    <a class="text-red-500" href="#">Politica de privacidad</a>
                </div>
            </li>
            <li class="item-menu group">
                <div class="button Manual-default">
                    <a class="text-red-500" href="#Primer link">Manual de usuario</a>
                </div>
            </li>
        </ul>
    </nav>
</header>
<style is:global>

.header {
    width: 100%;
    overflow:hidden;
    padding: 0.2rem 1rem;
    
}
.logo{
    max-width: 6rem;
}
.whapper{
    width: 100%;
    max-width: 1500px;
    margin:auto;
    overflow:hidden;
}
.nav{
    float:right;
    line-height: 3rem;
    height: 100%;
}
.menu{
    list-style-type: none;
    display: flex;
    gap:1rem;
}
.cerrar-menu{
    display: none;
    float: left;
}
.abrir-menu{ 
    display: none;
    float: right;;
    transform: rotate(90deg);
}
@media screen and (max-width: 1024px) {
    
    .abrir-menu, 
    .cerrar-menu{
        display:block;
    }
    .nav{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(182, 66, 66) ;
        padding: 2rem;
        box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
    }
    .nav.visible{
        opacity: 1;
        visibility: visible;
    }
    .menu{
        flex-direction: column;
        align-items: end;
    }
    .menu li a{
        color: white;
    }

}
</style>
<script>
    const nav = document.querySelector("#nav");
    const abrir = document.querySelector("#abrir");
    const cerrar = document.querySelector("#cerrar");
    const buscador = document.querySelectorAll(".buscador");

    if (abrir) {
    abrir.addEventListener("click", () => {
        nav?.classList.add("visible");
        buscador.forEach((element) => {
            element.classList.add("-z-10");
        });
    });
}
    if (cerrar) {
    cerrar.addEventListener("click", () => {
        nav?.classList.remove("visible");
        buscador.forEach((element) => {
            element.classList.remove("-z-10");
        });
    });
}
    
</script>
 
  
  
