---
console.log ("javascript")
---


<header class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6">
    <img src="/public/logo.jpg" alt="">
    <nav class="flex flex-col items-end justify-between w-full text-center md:flex-row">
        <a class="text-red-500" href="Primer link">Terminos y <br> condiciones</a>
        <a class="text-red-500" href="link2">Politica de <br> privacidad</a>
        <a class="text-red-500" href="link3">Manual de <br> usuarios</a>
        <a class="text-red-500" href="link4">Conoce sobre <br> nosotros</a>
    </nav>   
</header>

