---

---
<section class="mobile-view my-10">
    <h2 class="my-14 mx-11 text-1sm text-gray-600 font-bold">Mis trabajos</h2>
        <div class="my-9 m-4 mx-11 scrolling-container flex flex-nowrap overflow-x-auto  md:overscroll-contain space-x-3">
            <div class="flex-none border rounded-3xl border-gray-200 bg-gray-200  w-48 h-48 text-center">
                <h2>Mi trabajo</h2></div>
            <div class="flex-none border rounded-3xl border-gray-200 bg-gray-200  w-48 h-48 text-center">
                <h2>Mi trabajo</h2></div>
            <div class="flex-none border rounded-3xl border-gray-200 bg-gray-200  w-48 h-48 text-center">
                <h2>Mi trabajo</h2></div>
            <div class="flex-none border rounded-3xl border-gray-200 bg-gray-200  w-48 h-48 text-center">
                <h2>Mi trabajo</h2></div>
            <div class="flex-none border rounded-3xl border-gray-200 bg-gray-200  w-48 h-48 text-center">
                <h2>Mi trabajo</h2></div>
            <div class="flex-none border rounded-3xl border-gray-200 bg-gray-200  w-48 h-48 text-center">
                <h2>Mi trabajo</h2></div>
            <div class="flex-none border rounded-3xl border-gray-200 bg-gray-200  w-48 h-48 text-center">
                <h2>Mi trabajo</h2></div>
            <div class="flex-none border rounded-3xl border-gray-200 bg-gray-200  w-48 h-48 text-center">
                <h2>Mi trabajo</h2></div>
            <div class="flex-none border rounded-3xl border-gray-200 bg-gray-200  w-48 h-48 text-center">
                <h2>Mi trabajo</h2></div>
            <div class="flex-none border rounded-3xl border-gray-200 bg-gray-200  w-48 h-48 text-center">
                <h2>Mi trabajo</h2></div>
            <div class="flex-none border rounded-3xl border-gray-200 bg-gray-200  w-48 h-48 text-center">
                <h2>Mi trabajo</h2></div>
            <div class="flex-none border rounded-3xl border-gray-200 bg-gray-200  w-48 h-48 text-center">
                <h2>Mi trabajo</h2></div>
         </div>
    <h2 class="mx-11 py-2 font-bold text-gray-600 text-1sm">Reseñas</h2>
</section>
<style>
    .scrolling-container::-webkit-scrollbar {
        display: none;
    }
    @media screen and (max-width: 1024) {.desktop-view {
        display: none;
    }
    }
    @media screen and (min-width: 1023px) {.mobile-view {
			display: none;}
	}
</style>