---
import Contraste from '../components/Contraste.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;


---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		
		<link rel="stylesheet" href="/styles.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js" defer></script>
		<script src="/script.js" defer></script>
	</head>
	<body>
		<Contraste/>
		<Header/>
		<slot />
		<Footer/>
	</body>
</html>
<style>
	.dark {
		background-color: #1a202c;
		color: white;
		transition: all 1.5s ease;
	}
</style>
<script>
	let toogle = document.getElementById('toogle');
	let label_toogle = document.getElementById('label_toogle');
	toogle?.addEventListener('change', (event) => {
		let checked = (event.target as HTMLInputElement)?.checked;
		document.body.classList.toggle('dark');
		if (checked==true) {
			if (label_toogle) {
				label_toogle.style.color = 'white';
			}
		} else {
			if (label_toogle) {
				label_toogle.style.color = 'black';
			}
		}
	});
</script>